.deposit-help-modal-description {
  margin-top:20px;
  &__title {
    color:var(--color-green-light);
    font-size:14px;
    padding-left:20px;
  }
}
.deposit-help-modal-btn {
  text-align: center;
  padding-top:10px;
}