.mint-succeed-modal {
  .ant-modal-title {
    text-align: center;
  }
  .nostr-address span {
    color: var(--color-green);
  }
  .submit-modal-tip {
    padding-top: 20px;
  }
  .ant-modal-footer {
    text-align: center;
  }
}
