.nostr-assets {
  .nostr-assets-back {
    .ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
      color: var(--color-green-light);
      text-decoration: underline;
    }
  }
  &-titleh3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-text-light);
    text-align: center;
    &-description {
      width: 90%;
      margin: 0 auto;
      font-size: 14px;
      padding-top: 10px;
      color: var(--color-text-light);
      text-align: left;
    }
  }
  &-form {
    padding: 0 40px;
    &-groupInfo {
      color: var(--color-text-light);
      font-weight: bold;
      font-size: 16px;
      padding: 30px 0px 20px;
    }
    .ant-form-item-label {
      text-align: left;
    }

    .ant-input-number {
      width: 100%;
    }
    .submit {
      margin-top: 20px;
      width: 100%;
    }
    &-servicefee {
      width: 100%;
      &__sat {
        width: 100%;
        padding-top: 20px;
      }
    }
  }
  &-mint {
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }
}
