.Footer {
  width: 100%;
  background: var(--color-layer-base);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.062745098);
  .footer-link {
    padding: 15px 30px;
    width: auto;
    color: var(--color-text-light);
    text-decoration: none;
  }
}
@media (max-width: 800px) {
  .Footer {
    flex-direction: column;
  }
}
